
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');

html {
    height: 100%;
  }
  body {
    font-family: Bungee Outline;
    font-weight: bold;
    font-size: 35px;
    height: 100%;
    padding: 0;
    margin: 0;
  }

.screen {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    /* background: linear-gradient(#8cd9ff70 50vh, #4ebd7663 50vh); */
}

.screen::before {
    content: '';
    top: 0;
    width: 100%;
    height: 50%;
    position: absolute;
    background: linear-gradient(to right, #3a6073, #16222a);
}

.screen::after {
    content: '';
    bottom: 0;
    width: 100%;
    height: 50%;
    position: absolute;
    background: linear-gradient(to right, #414345, #151515);
}

.hero {
    height: 15vw;
    width: 15vw;
    position: absolute;
    top: calc(50vh - (15vw / 2));
    left: 10%;
    transition: 0.5s;
    z-index: 3;
    animation: heromove 0.5s infinite linear;
}

.hero_jump {
    top: calc((50vh - (15vw / 2)) - 200px);
    transform: rotate(10deg);
    filter: blur(3px);
    animation: heromove 3s infinite linear;
}

@keyframes heromove {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.trap {
    height: 15vw;
    width: 15vw;
    position: absolute;
    top: calc((50vh - 7.5vw) + 1.5vw);
    right: -20%;
    transition: 0.3s;
    z-index: 1;
    animation: trapmove 3s infinite linear;
}

@keyframes trapmove {
    0% {
        right: -20%;
    }
    100% {
        right: 120%;
    }
}

.score-wrapper {
    display: none;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 2;
    align-items: center;
    justify-content: center;
    background: #ffdf92;
    transition: 0.3s;
}

.score-wrapper_active {
    display: flex;
}

.score-window {
    width: 40vw;
    height: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 30px;
    box-shadow: 0px 0px 50px #fec7c1;
    background: #5e5e5e;
    color: #00fdff;
}

.score-window-head {
    font-size: 42px;
}

.play-again-btn{
    width: 150px;
    height: 40px;
    border-radius: 15px;
    border: none;
    color: black;
    background: #fec7c1;
    text-transform: uppercase;
    box-shadow: 0 0 15px;
    cursor: pointer;
    font-weight: bold;
}

.play-again-btn:hover {
    background: white;
    box-shadow: none;
}

.score-result {
    color: #fdc7c1;
}